<a href="https://colab.research.google.com/github/venu887/Python-Codes/blob/main/Basics%20of%20python/Copy_of_Python_preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("hello venu")
print (" my age is 31")
print ("i am finished my Doctorial degree now")
print ("i am looking for job or Postdoc now to fit")

hello venu
 my age is 31
i am finished my Doctorial degree now
i am looking for job or Postdoc now to fit

In [ ]:
print("\      /")
print(" \    / ")
print("  \  /  ")
print("   \/   ")

\      /
 \    /
  \  /
   \/

In [ ]:
print("There once was a man named venu")
print("he was 30 years old")
print("he reallky liked the name venugopala")
print("but he didn't like being 30")

There once was a man named venu
he was 30 years old
he reallky liked the name venugopala
but he didn't like being 30

In [ ]:
character_name= "venu"
character_age = "30"
print("There once was a man named "+ character_name +", ")
print("he was "+charecter_age+ " years old")
print("he reallky liked the name " + character_name + "gopala")
print("but he didn't like being "+ charecter_age+".")

There once was a man named venu,
he was 30 years old
he reallky liked the name venugopala
but he didn't like being 30.

In [ ]:
character_name= "venu"
character_age = 30 
# age= "30"
is_male=True
print("There once was a man named "+ character_name +", ")
print("he was "+charecter_age+ " years old")
character_name="mekala venugopala reddy"

print("he reallky liked the name " + character_name + " ")
print("but he didn't like being "+ charecter_age+".")

There once was a man named venu,
he was 30 years old
he reallky liked the name mekala venugopala reddy
but he didn't like being 30.

In [ ]:
# Working with strings: plain text
print("venugopal academy")
print("venugopala\nacademy")
print("venugopala\"academy")
print("venugopala\academy")
phrase = "venugopala academy"
print(phrase+ " is cool")
# function to modify our strings
print(phrase.upper())
print(phrase.upper().isupper())
print(len(phrase))
print(phrase[0])
print(phrase[2])
# index function
print(phrase.index("nu"))
print(phrase.replace("venu","gopal"))

venugopal academy
venugopala
academy
venugopala"academy
venugopalacademy
venugopala academy is cool
VENUGOPALA ACADEMY
True
18
v
n
2
gopalgopala academy

In [ ]:
# working with numbers
print(2)
print(2.987)
print(-878993)
print(4+5)
print(4*5+6)
print(4*(5+8))
print(5%3)
x=5
print(x)
print(str(x)+" my favourite number")
my_num=-5
print(abs(my_num)) #absolute value
print(pow(3,2)) # 3 to the power of 2
print(max(4,5,6))
print(min(5,6,3,6,7))
print(round(8.7))
# import  function for maths
from math import*
print(floor(5.6))
print(ceil(5.7))
print(sqrt(36))

2
2.987
-878993
9
26
52
2
5
5 my favourite number
5
9.0
6
3
9
5
6
6.0

In [ ]:
# getting input from users
name=input("Enter your name: ")
age=input("Enter your age: ")
print("Hello " + name + "! You are "+ age)

Enter your name: venu
Enter your age: 30
Hello venu! You are 30

In [ ]:
#building a basic calculator
num1=input("Enter a number: ")
num2=input("Enter another number: ")
result=num1+num2
print(result)
results=int(num1) + int(num2) #a whole number INT 
print(results)
results1=float(num1) + float(num2) # float for decimels
print(results1)

Enter a number: 2
Enter another number: 3
23
5

In [ ]:
# mad libs game
print("Roses are red")
print("Violets are blue")
print("I love you")

color= input("Enter a color: ")
plural_noun= input("Enter a Plural Noun: ")
celebraty= input("Enter a celebraty: ")
print("Roses are "+ color)
print(plural_noun + " are blue")
print("I love " + celebraty)

Roses are red
Violets are blue
I love you
Enter a color: red
Enter a Plural Noun: violine
Enter a celebraty: venu
Roses are red
violine are blue
I love venu

In [ ]:
# working with lists in python
friends = ["venu", "gopal", "reddy"]
print(friends)
print(friends[0])
print(friends[2])
print(friends[1:])
print(friends[1:3]) #Select specific elements
#modify value
friends[1]="Mekala"
print(friends[1])

['venu', 'gopal', 'reddy']
venu
reddy
['gopal', 'reddy']
['gopal', 'reddy']
Mekala

In [ ]:
# List Functions
lucky_numbers= [4,5,6,3,2,44,34]
friends=["venu","mekala", "gopala","reddy", "sri", "supreeth"]
friends.extend(lucky_numbers) # insert both lists
friends.append("lakshman") # add iteam end of list
friends.insert(1,"aruna") # add something at position one
friends.remove("venu") # remove one element 
friends.clear() # remove all list
friends.pop() #removes last element in list
print(friends)
print(friends.index("venu")) 
print(friends.count("venu")) # How many times this nam occurs
friends.sort() # it put everything in alphabetical order
lucky_numbers.reverse() # make the numbers into riverse

friends2=friends.copy() # coping a list

['aruna', 'mekala', 'gopala', 'reddy', 'sri', 'supreeth', 4, 5, 6, 3, 2, 44, 34, 'lakshman']

In [ ]:
#Tuples in python it will store multiple values
coordinates = [(4,5),(6,7), (8,7)]
print(coordinates[0])
print(coordinates[1])
coordinates[1] = 10

(4, 5)
10

In [4]:
#Functions collection of code to perform specific task
def sayhitovenu():
  print("Hello venu")

print("Top")
sayhitovenu()
print("Bottom")

Top
Hello venu
Bottom

In [5]:
def sayhi(name):
  print("Hello "+ name)

sayhi("Venu")
sayhi("Uma")

Hello Venu
Hello Uma

In [7]:
def sayhi(name, age):
  print("Hello "+ name+ " you are "+ age)

sayhi("Venu", "31")
sayhi("Uma", "24")

Hello Venu you are 31
Hello Uma you are 24

In [8]:
def sayhi(name, age):
  print("Hello "+ name+ " you are "+ str(age))

sayhi("Venu", 31)
sayhi("Uma", 24)

Hello Venu you are 31
Hello Uma you are 24

In [ ]:
#Return Statements